/* Log section */
#logConsole {
    background-color: #FFC4B5;
    border-radius: 4px;
    padding: 5px;
}

#logConsole > fieldset {
    border-radius: 4px;
}

#logDetails {
    background-color: #FFE4B5;
    font-size: 9pt;
}

#logDetails > p {
    margin-top: 0;
    margin-bottom: 0;
}

.logNormal {
    color: #11557C;
}

.log_class_warning {
    color: #FF7F50;
}

.log_class_important {
    color: #FF1493;
}

.log_class_failure {
    color: #9C1A1C;
}

.logSubText {
    margin-left: 4ex;
}